*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }

header{
    width: 100%;
    /* height: 100px; */
    background: linear-gradient(#0F2533,#0E3343);
    display: flex;
    padding-bottom: 30px;
    justify-content: space-evenly;
}
header .logo h3{
    color: #EAF3F8;
    font-weight: bold;
    padding-top: 30px;
}
header .services{
    width: 40%;
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}
header .services h4{
    color: #9BB0B4;
    cursor: pointer;
}
.registeration { 
    width: 14%;
    display: flex;
    justify-content: space-between;
}
.registeration .login button{
    background: none;
    border: none;
    cursor: pointer;
    padding-top: 30px;
}
.registeration .login button h4{
    color: white;
}
.registeration .signin button{
    width: 80px;
    /* padding-top: 30px; */
    height: 35px;
    border-radius: 10%;
    border: none;
    margin-top: 20px;
    text-align: center;
}
.registeration .signin button h4{
    color:#303F54;
    padding-top: 2px;
    cursor: pointer;
    /* padding-left: 17px; */
}

@media screen and (max-width:780px) {
    header .registeration{
        width: 20%;
    }
    header .services{
        width: 50%;
    }
}

@media screen and (max-width: 430px) {
     header .services{
        display: none;
        /* width: 0%; */
    }
    header .registeration{
        width:35%
    }
    /* header{
        width: fit-content;
    } */
}

.body1{
    width: 100%;
    background: linear-gradient(#0F2533,#0E1728)
   
}
.nextCrypto{
    width: 100%;
    /* height: 400px; */
    /* background: green; */
    padding-top: 40px;
    display: flex;
}
.nextCrypto .nextCryptoText{
    width: 50%;
    /* height: 350px; */
    /* background: orchid; */
}
.nextCrypto .nextCryptoPic{
    width: 50%;
    /* height: 350px; */
    /* background:yellow; */
}
.nextCrypto .nextCryptoPic img{
    width: 100%;
    height: 370px;
    padding-right: 50px;
}
.nextCryptoText .head{
    color: white;
    padding-left: 120px;
    word-spacing: 3px;
    font-size: 20px;
    /* background: gray; */
}
.nextCryptoText .head .colorText{
    color: #27B4B4;
    width: max-content;
}
.nextCryptoText .head span{
    display: inline-block;
}
.nextCryptoText .para{
    width: 100%;
    /* background: yellow; */
    /* height: 100px; */
    margin-top: 40px;
    padding-left: 120px;
    padding-right: 100px;
 
}
.nextCryptoText .para p{
    color: white;
    font-size: 13px;
}
.search{
    width: 90%;
    margin-left: 10px;
    margin-top: 30px;
    display: flex;
    position: relative;
}

.search input {
    border: 5px solid #133443;
    border-radius: 30px;
    width: 100%;
    padding-left: 30px;
    margin-top: 30px;
    height: 55px;
    margin-left: 100px;
    background-color: #0E1728;    
}

.search button {
    border: 0px;
    color: #9AA6B0;
    cursor: pointer;
    width: 30%;
    position:absolute; 
    right: 10px;
    top: 10px;
    bottom: 10px; 
    border-radius: 25px;
    background: #344356;
    padding: 5px; 
    margin-top: 30px;
    height: 35px;
}

@media screen and (max-width:780px) {
    .nextCryptoText .head{
        font-size: 15px;
        padding-left: 50px;
    }
    .nextCryptoText .para {
        padding-left: 50px;
        padding-right: 20px;
    }
    .nextCrypto .para p{
        font-size: 15px;
    }
    .search input {
        margin-left: 25px;
        margin-top: 4px;
    }
    .search button {
        margin-top: 4px;
    }
    .nextCrypto .nextCryptoPic img {
        height: 304px;
    }
}

@media screen and (max-width:430px) {
    .nextCrypto{
        flex-wrap: wrap;
    }
    .nextCrypto .nextCryptoText{
        width: 100%;
    }
    .nextCrypto .nextCryptoPic {
        margin-top: 20px;
        width: 100%;
    }
}

.breaker{
    /* background: gray; */
    /* height: 200px; */
    width: 100%;
    margin-top: 30px;
}
.breaker img{
    width: 100%;
    height: 80px;
}

.cards{
    width: 100%;
    height: 480px;
    background: #0E1728;
    display: flex; 
    justify-content: space-around;
    padding-left: 50px;
    padding-top: 40px;
}
.card1{
    width: 25%;
    height: 380px;
    border: none;
    border-radius: 5%;
    background: #192434;
}

.title{
    width:100%;
    /* background: olive; */
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
}
.titlename h4{
    color: white;
}
.title button{
    background:  #344356;
    color: #9AA6B0;
    border: none;
    width: 80px;
    height: 25px;
    margin-right: 20px;
    border-radius: 10%;
    cursor: pointer;
}
.currency{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    /* background: burlywood; */
}

.layer{
    width: 100%;
    /* height: 70px; */
    /* background: lightcoral; */
    margin-bottom: 10px;
}

.layer .currencyName{
    width: 100%;
    height: 50px;
    /* background: gray; */
    display: flex;
    justify-content: space-between;
}
.currencyName .image{
    width: 20%;
    height: 50px;
    /* background: aquamarine; */
    margin-left: 20px;
}
.currencyName   .image img{
    width: 70%;
    height: 80%;
    padding-top: 10px;
}

.currencyName .text{
    width: 50%;
    height: 50px;
    /* background: navajowhite; */
    padding-top: 7px;
}

.currencyName .currencyPrice{
    padding-top: 7px;
    padding-right: 30px;
}

@media screen and (max-width:780px) {
    .card1{
        width: 30%;
    }
    .text{
        width: 33%;
        font-size: 13px;
    }
    .currencyName .image{
        margin-left: 10px;
    }
}

@media screen and (max-width:430px) {
    .cards{
        flex-wrap: wrap;
        align-items: center;
        padding-left: 0px;
        height: 1300px;
    }
    .card1{
        width: 60%;
        margin-bottom: 30px;
    }
}

.choose{
    width: 100%;
    height: 500px;
    background: #0E1728;
}
.choose .head{
    width: 100%;
    height: 50px;
    /* background: green; */
    padding-top: 10px;
    text-align: center;
}
.head h1{
    color: white;
}

.choose .text{
    width: 100%;
    /* background: gray; */
    text-align: center;
    padding-left: 100px;
    margin-top: 10px;
}
.choose .text p{
    color: darkgrey;
}

.choose .chooseCard{
    width: 100%;
    height: 400px;
    /* background:aqua; */
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.cards1{
    width: 20%;
    height: 180px;
    border-radius: 10%;
    border: none;
    background: #1C2838;
}

.cards1 .clock{
    width: 20%;
    height: 50px;
    background: #133443;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10%;
    border: none;
}
.cards1 .clock img{
    width: 100%;
    height: 100%;
}
.titleTrading{
    width: 100%;
    /* height: 30px; */
    /* background-color: green; */
    margin-top: 14px;
    padding-left: 13px;
}
.titleTrading h4{
    color: white;
}
.descrip{
    width: 100%;
    /* background: green; */
    margin-top: 10px;
    padding-left: 14px;
}
.descrip p{
    color: darkgray;
}